* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
   background-color: rgb(252, 146, 164);
 }
 
 li {
   list-style: none;
 }
 
 
 /* modal */
 .modal {
   display: none;
   position: fixed;
   z-index: 1;
   padding-top: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0, 0, 0);
   background-color: rgba(0, 0, 0, 0.4);
 }
 
 .modal-content {
   margin: 0 auto;
   width: 50%;
   position: relative;
   display: flex;
   flex-direction: column;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid rgba(0, 0, 0, .2);
   border-radius: .3rem;
   outline: 0;
 
 }
 .modal-footer {
   display: flex;
   border-top: 1px solid #aaaaaa;
   padding: 1rem;
   flex-direction: row;
   justify-content: flex-end;
   border-top: 1px solid #aaaaaa;
   padding: 1rem;
 }
 
 .btn {
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
}
 
.products ul .main-product {
  margin-bottom: 2rem;
  margin-right: 1rem;
  display: block;
  float: left;
  width: 24%;
}
.products ul .no-margin {
  margin-right: 0;
}

.products ul .img-product img {
  width: 100%;
  color: yellow;
}
.products ul .img-product img:hover{
  text-decoration: none;
}


.content-product .content-product-h3 {
  padding: .5rem 0;
  overflow: hidden;
  color: #222;
  font-weight: 500;
  font-size: 16px;
  max-height: 50px;
  min-height: 50px;
  text-align: center;
  line-height: 19px;
  margin: 0 0 5px;
}

.content-product .content-product-deltals {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.main-product .img-product img:hover{
  transform: scale(1.2);
}

.main-product .content-product .content-product-deltals .price {
  color: #c7b200;
  font-weight: 700;
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 20px;
}

.content-product .content-product-deltals .price .money {
  vertical-align: middle;
}

.content-product .content-product-deltals .btn-cart {
  background: #f1df11;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
}

.content-product .content-product-deltals .btn-cart:hover {
  background: #c7b200;
}

 
 /* footer */
 #wrapper{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }
 .footer-item {
   padding: .5rem 2rem;
   background: #f1df11;
   display: flex;
 
 }
 
 .content-product-h3 {
   align-items: center;
   display: flex;
 }
 .footer-item .img-footer {
  width: 400px;
  height: 600px;
  background: chocolate;
  overflow: hidden;
  box-shadow: 2px 2px 5px #888;
  position: relative;
}
 
 .footer-item .img-footer img {
   width: 100%;
   position: absolute;
   bottom: -1235px;
   transition: all 3.5s ease-in-out;
   box-shadow: #000000;
   
 }
 .footer-item .img-footer :hover img{
   bottom: 0px;
   cursor: pointer;
   transform: scale(1.2);
   
 }
 
 .footer-item .social-footer {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: flex-end;
 }
 
 .footer-item .social-footer li a {
   color: #000000;
   font-size: 2rem;
 }
 
 .footer-item .social-footer li:last-child {
   margin-left: .5rem;
 }
 .footer-item {
   padding: .5rem 2rem;
   background: #f1df11;
   display: flex;
 
 }
 
 .footer-item .img-footer {
   align-items: center;
   display: flex;
 }
 
 .footer-item .img-footer img {
   width: 100%;
 }
 
 .footer-item .social-footer {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: flex-end;
 }
 
 .footer-item .social-footer li a {
   color: #000000;
   font-size: 2rem;
 }
 
 .footer-item .social-footer li:last-child {
   margin-left: .5rem;
 }

 .main-product .img-product .imgprd:hover img{
   transform: scale(1.2);
 }




