li{
    list-style: none;
}
.slider-product-one-content{
    background-color: pink;
    padding: 12px;
  }
  .slider-product-one-content-items{
    display: flex;
    justify-content: space-evenly;
  }
  .slider-product-one-content-item{
    width: 19%;
    background-color: white;
    padding: 50px 12px 50px;
    border-radius: 5px;
    cursor: pointer;
  }
  .slider-product-one-content-item:hover > img{
    transform: translateY(-30px);
  }
  .slider-product-one-content-item > img{
    width: 100%;
    height: 140px;
    transition: all 0.5s ease;
  }
  .slider-product-one-content-title h2 {
    font-style: italic;
  }
  .slider-product-one-content-item-text{
    padding-top: 20px;
  }
  .slider-product-one-content-item-text li{
    margin-bottom: 6px;
  }
  .slider-product-one-content-item-text li:first-child{
    height: 25px;
    width: 60%;
    background-color: orangered;
    display: inline-block;
    margin-bottom: 15px;
    align-items: center;
    line-height: 0px;
    border-radius: 40px;
  }
  .slider-product-one-content-item-text li:first-child p {
    color: white;
    font-size: 16px;
  }
  .slider-product-one-content-item-text li:first-child img{
    width: 25px;
    float: left;
    margin-right: 6px;

  }
  slider-product-one-content-item-text li:last-child{
    color: rgb(219, 126, 19);
  }
  .slider-product-one-content-item-text li:nth-child(4) a{
      text-decoration: line-through;
      color: black;
  }


  /*------------home---------------*/
  .content > a{
    background-color: red;
    font-style: italic;
    color: yellow;
    box-shadow: 3px 3px #666;
  }
 